<!--
<app-server></app-server>
<div>hello</div> -->
<!-- <app-header></app-header>
<br>
<app-directives></app-directives> -->

<div class="container">
  <div class="col-12">
  <app-route></app-route>
     <!-- <app-core 
      (serviceCreated)="onAddService($event)"
      (categoryCreated)="onAddCategory($event)"
      ></app-core>
   <div>
     <app-service-item [services]="services"></app-service-item>ng
   </div> -->
   <!-- <app-service-item [services]="services"></app-service-item>
   <app-products></app-products> -->
   <br>
   <!-- @for (course of courses; track course.id;
   let index = $index;
   let count = $count;
   let first = $first;
   let last = $last;
   let even = $even;
   let odd = $odd;
   ) { -->
    <!-- @if (index%2 !=0) {
      {{index}}
      {{odd}}
      {{first}}
      <app-card-item
    [course]="course"
    ></app-card-item>
    } -->
    <!-- <app-card-item class="back-red2"
    #cardItem
    [course]="course"
    ></app-card-item>
    <br>
   }
   @empty {
    <div>No Data Found</div>
   } -->
   <div>
     <!-- <app-lesson1></app-lesson1> -->
      <router-outlet></router-outlet>
      <app-tdf></app-tdf>
   </div>
  </div>
</div>